<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; font-size: 16px; font-weight: 400; line-height: 1.5; text-align: left; color: #212529 !important; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; box-sizing: border-box; text-align: center;'>
            <a href="https://www.quetalmiafp.cl/" style="color: rgba(0,0,0,.9); word-break: break-word; white-space: normal; text-align: center; display: inline-block; padding-top: 5px; padding-bottom: 5px; margin-top: 8px; font-size: 20px; line-height: inherit; text-decoration: none; background-color: transparent; width: 100%; ">
                <img src="https://www.quetalmiafp.cl/images/logo.png" width="25" style="margin-right: 8px !important;" />
                <h1 style="margin-top: 8px; margin-bottom: 8px; font-weight: 500; line-height: 1.2; font-size: 1.1rem; display: inline; vertical-align: top; color: #212529 !important;">¿Qué tal mi AFP?</h1>
            </a>
            <h1 style="margin: 0px; font-size: 2rem;">Resumen Semanal</h1>
            <h3 style="margin: 0px; font-size: 0.75rem; font-weight: 400;">Del {{ FechaDesde | date.to_string "%e de %b"}} al {{ FechaHasta | date.to_string "%e de %b" }}</h3>

            <h2>¡Premio a la AFP más rentable de la semana!</h2>
            <p style="margin: 0px; font-size: 1.6rem; font-weight: 500;">AFP {{ PremioRentabilidad["AFP"] }}</p>
            <p style="margin: 0px; font-size: 1.4rem; font-weight: 500;">Fondo {{ PremioRentabilidad["Fondo"] }}</p>
            <div>
                <p style="display: inline; font-size: 0.85rem;">Rentabilidad: </p>
                <p style="display: inline; font-size: 1.2rem; font-weight: 500;">{{ PremioRentabilidad["Rentabilidad"] | math.format "N2" }}%</p>
            </div>

            <h2>Rentabilidad Promedio Semanal <sup>1</sup></h2>
            <div style="width: 100%; overflow-x: auto;">
                <table style="margin: 0px auto; border: 1px solid black; border-collapse: collapse;">
                    <tr>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">A</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">B</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">C</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">D</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">E</th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ RentabilidadSemanal["A"] | math.format "N4" }}%</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ RentabilidadSemanal["B"] | math.format "N4" }}%</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ RentabilidadSemanal["C"] | math.format "N4" }}%</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ RentabilidadSemanal["D"] | math.format "N4" }}%</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ RentabilidadSemanal["E"] | math.format "N4" }}%</td>
                    </tr>
                </table>
            </div>
            <p style="font-size: 0.7rem; margin: 8px 0px;"><sup>1</sup> Promedio calculado con la rentabilidad obtenida por todas las AFP, desde el {{ FechaDesde | date.to_string "%e de %B"}} al {{ FechaHasta | date.to_string "%e de %B" }}.</p>

            <h2>Valores Cuotas Finales <sup>2</sup></h2>
            <div style="width: 100%; overflow-x: auto;">
                <table style="margin: 0px auto; border: 1px solid black; border-collapse: collapse;">
                    <tr>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;"></th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">A</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">B</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">C</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">D</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">E</th>
                    </tr>
                    {{ for afp in ValorCuotaFinal }}
                    <tr>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">AFP {{ afp.key }}</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ afp.value["A"] | math.format "N2" }}</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ afp.value["B"] | math.format "N2" }}</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ afp.value["C"] | math.format "N2" }}</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ afp.value["D"] | math.format "N2" }}</td>
                        <td style="border: 1px solid black; border-collapse: collapse; padding: 8px 16px;">{{ afp.value["E"] | math.format "N2" }}</td>
                    </tr>
                    {{ end }}
                </table>
            </div>
            <p style="font-size: 0.7rem; margin: 8px 0px;"><sup>2</sup> Corresponden a los valores cuota del {{ FechaHasta | date.to_string "%d de %B de %Y" }}.</p>
        </div>
    </body>
</html>